{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
    <h1>Biens index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Photo</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.titre }}</td>
                <td>{{ bien.description }}</td>
                <td>{{ bien.photo }}</td>
                <td>{{ bien.CreatedAt ? bien.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('biens_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(biens) }}

    <a href="{{ path('biens_new') }}">Create new</a>
{% endblock %}
