{% extends 'base.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <h1>Biens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bien.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ bien.photo }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ bien.CreatedAt ? bien.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('index') }}">back to list</a>

    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>

    {{ include('biens/_delete_form.html.twig') }}
{% endblock %}
