{% extends 'base.html.twig' %}

{% block title %}formulaire{% endblock %}

{% block body %}
    <h1>Formulaire</h1>
    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    <div class="input-field col s12 m12 l12">
        {{ form_label(form.photo, 'Photo associé au bien')}}
		{{ form_widget(form.photo, {'attr': {'placeholder': 'photo associé au bien'}}) }}
	</div>
    <div class="input-field col s12 m6 l6">
		{{ form_label(form.titre, 'Le titre de votre bien') }}
		{{ form_widget(form.titre, {'attr': {'placeholder': 'Titre de votre bien'}}) }}
    </div>
	<div class="input-field col s12 m12 l12">
		{{ form_label(form.description, 'description de votre bien') }}
        {{ form_widget(form.description, {'attr': {'class': 'materialize-textarea', 'placeholder': 'Description du bien'}}) }}
	</div>
	<div class="input-field col s12 m12 l12">
		<input type="submit" name="" value="Enregistrer" class="btn btn-primary">
	</div>
{{ form_end(form) }}
    {% endblock %}